.chatBox{
    position: fixed;
    bottom: 0px;
    right: 15%;
    width: 328px;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: calc(100vh - 60px - 24px);
    height: 350px;
    border-radius: 15px 15px 0px 0px;
}

.chatTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
    border-bottom: 1pt solid black;
    background-color: grey;
    border-radius: 15px 15px 0px 0px;
}

.chatName{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #3d3d3d;
    font-family: "Lucida Console", "Courier New", monospace;
}

.closeChatButton {
    margin-right: 10px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

.closeChatButton:hover{
    background: #3d3d3d;
    color: white;
}


.chatBody{
    width: 100%;
    height: 75%;
    border-bottom: 1pt solid black;
    display: flex;
    overflow: auto;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messageList{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin:0px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.my-message-wrapper:first-child{
    margin-top: auto;
}
.my-message-wrapper{
    text-align: right;
}

.my-message{
    padding: 7px 8px 12px 12px;
    border-radius: 20px 15px 5px 15px;
    border: 1px solid black;
    margin-bottom: 5px;
    word-wrap: break-word;
    background-color: rgb(0, 132, 255);
    width: fit-content;
    float:right;
    max-width: 60%;
}

.other-message-wrapper:first-child{
    margin-top: auto;
}
.other-message-wrapper{
    text-align: left;
}

.other-message{
    background-color: #D3D3D3;
    border: 1px solid black;
    border-radius: 15px 20px 15px 5px;
    margin-bottom: 5px;
    padding: 7px 8px 12px 12px;
    float: left;
    width:fit-content;
    word-wrap: break-word;
    max-width: 60%;

}

.person-name{
    font-size: 10px;
}

.chatMessage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

.message{
    margin-left: 5px;
    width: 80%;
    border-radius: 50px;
    outline: none;
    font-size: 30px;
    padding-left: 10px;
}

.sendMessage{
    margin-right: 5px;
    margin-left: 5px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    width:20%;
    text-align: center;
    font-size: 40px;
    outline: none;
}
.sendMessage:hover{
    border: 1px solid grey;
}


