.totalProgress{
    position: absolute;
    margin-left: 10px;
    width:90%;
    height: 35%;
    top: 35%;
    background-color: grey;
    border: 2px solid black;
    border-radius: 25px;
    align-items: center;
}

.filledProgress{
    background-color: #3d3d3d;
    height: 100%;
    border-radius: 10px;
}