.gameContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    border-style: ridge;
    border-radius: 10px;
    transition: 0.3s ease;
    border: 2px solid white;
    
}

.gameContainer:hover{
    border: 2px solid black;
}

.gameImage{
    border-radius: 100%;
    height: 60px;
    width: auto;
}

.vertical-row{
    Float:left;
    height: 60px;
    width:5px; /* edit this if you want */
    background-color: grey;
}



.gameBody{
    display: flex;
    flex-direction: column;
    width:100%;
    position: relative;
}
