body, html {
    height: 100%;
}

#LoginPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    background-size: cover;
}

#LoginContainer {
    width: 400px;
    max-height: fit-content;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
    position: absolute;
    border-radius: 3%;
    border-color: black;
}

#LoginCredentials{
    height: fit-content;
}

#LoginCredentials p {
    margin-top: 15px;
    margin-bottom: 5px;
}

.LoginField {
    position: relative;
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    top: 5%;
}

.LoginButton {
    position: relative;
    width: 100px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    display: block;
}

#SignupRedirect {
    position: relative;
    margin-top: 15px;
    height: fit-content;
}

#SignupRedirect p{
    margin-bottom: 0px;
}

#SignupRedirect .LoginButton {
    display: block;
    position: relative;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(30, 150, 150);
    margin-bottom: 10px;
}

.loginCaptcha {
    margin-bottom: 10px;
}

.loginText {
    color: black;
}