.search-bar-container {
	background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
	padding: 30px;
	min-width: 700px;
	position: relative;
	top: 80px;
	height: 120px;
}

.search-bar-container input[type=text] {
	padding-left: 1%;
	height: 50px;
	width: 60%;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	margin: 5px;
}

.search-bar-container input[type=submit] {
	height: 50px;
	width: 15%;
	min-width: 100px;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	background-color: rgb(57, 212, 57);
	color: black;
	margin-right: 5px;
}

.search-bar-container button {
	height: 50px;
	width: 8%;
	min-width: 80px;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	background-color: rgb(131, 131, 236);
	color: black;
}
