.search-bar-container {
	background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
	padding: 30px;
	min-width: 700px;
	position: relative;
	top: 80px;
	height: 120px;
}

.search-bar-container input[type=text] {
	padding-left: 1%;
	height: 50px;
	width: 60%;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	margin: 5px;
}

.search-bar-container input[type=submit] {
	height: 50px;
	width: 15%;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	background-color: silver;
	color: white;
}
