.groupButton{
    display: flex;
    flex-direction: row;
}

.slash{
    display: block;
    height: fit-content;
    color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
}