.review-submit {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  padding: 20px;
  position: relative;
  top: 80px;
}

.review-submit h2 {
  color: white;
  font-family:'Courier New', Courier, monospace;
}

.review-submit-title-box {
	padding-left: 1%;
	height: 50px;
	width: 60%;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	margin: 20px;
  font-family: "Lucida Console", monospace;
  position: relative;
  left: 0px;
}

.review-submit-content-box {
  padding-left: 1%;
  padding-top: 5px;
  width: 90%;
  height: 300px;
  font-size: 20px;
  border-radius: 5px;
  border: 10px;
  margin: 5px;
  font-family: "Lucida Console", monospace;

}

.review-submit-button {
  height: 50px;
	width: 200px;
	font-size: 20px;
	border-radius: 5px;
	border: 10px;
	background-color: black;
	color: white;
  border-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}