.dashboard{
    /*background-image: url('./Static/dashboardBackground.jpg');*/
    /*background-color: #161920;*/
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    width: 100%;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.dashboard::-webkit-scrollbar { 
    display: none;  
}

.left{
    float: left;
    width: 25%;
    position: fixed;
    top: 120px;
    height: 100vh;
    left: 2%;
}

.bannerUserInfo{
    display: flex;
    flex-direction: row;
    width:90%;
    color: white;
    justify-content: space-between;
}

#bannerUserName, #bannerUserUID{
    width: fit-content;
}


.bannerReputation{
    color:white;
    font-size: 10px;
}

.middle{
    display: inline-block;
    width: 36%;
    position: relative;
    top: 120px;
    height: 100vh;
}

.right{
    right:2%;
    width: 25%;
    position: fixed;
    top: 120px;
    height: 100vh;
}


.middle::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.group{
    display: flex;
    flex-direction: row;
}

.rightBannerTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:fit-content;
    align-items: center;
    width: 90%;
}

@media screen and (max-width: 840px) {
    .rightBannerTitle {
      flex-direction: column;
    }
  }


.rightBannerTitleName{
    font-size: 25px;
    width: fit-content;
    color:white;
    margin: 0px;
}

.addFriendForm{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 40px;

}

.addFriendInput{
    outline: none;
    height: 80%;
    border: 2px solid grey;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 15px;
    width:80%;
}

.addFriendButton{
    outline-style: none;
    cursor: pointer;
    border: none;
    width: fit-content;
    border-radius: 10px;
    height: 70%;
    margin-left: 5px;
    padding: 0px 1px;
    border: 1px solid grey;
}

.addFriendButton:hover{
    background-color: #525252;
    color: white;
}

.searchGame{
    height: 8%;
}

.searchGameInput{
    outline: none;
    height: 100%;
    width: 90%;
    border: 2px solid grey;
    border-radius: 25px;
    padding-left:10px;
    font-size: 25px;
}