.review-section {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  animation: animation 100s linear infinite;
  overflow: hidden;

  padding: 20px;
  border: 5px solid black;
  min-width: 700px;
  position: relative;
  top: 80px;
}

@keyframes animation {
  100%{
   background-position:0px -3000px;
 }
}

.review-section h1 {
  color: white;
  font-family:'Courier New', Courier, monospace;
}

.page-button-bar {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;

}

.page-button-bar button {
  width: 100px;
  height: 40px;
  font-size: 16px;
}