.headerButton{
    display: block;
    width: fit-content;
    height: fit-content;
    color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    margin:10px;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}

.headerButton:hover {
    color: #028aa1;
    border-bottom: 1px solid #028aa1;
}
