.headerButton{
    display: block;
    width: fit-content;
    height: fit-content;
    color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    margin:10px;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}