.friendContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 18px 20px;
    border: 1px;
    cursor: pointer;
    transition: 0.1s ease;
    justify-content: space-between;
}

.friendContainer:hover{
    border: 2px solid black;
}

.friendLeft{
    display: flex;
    flex-direction: row;
}

.friendLogo{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 5px;
}

.friendName{
    font-size: 30px;
    color:white;
}

.deleteFriend{
    font-size: 30px;
    margin-top: 5px;
}   

.deleteFriend:hover{
    border: 2px solid black;
    border-radius: 10px;
}

.friendPendingButton{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-evenly;
}

.friendPendingAccept{
    transition: 0.5s ease;
}
.friendPendingAccept:hover{
    font-size: 30px;
}

.friendPendingDecline{
    transition: 0.5s ease;
}
.friendPendingDecline:hover{
    font-size: 30px;
}