.achievementContainer{
    justify-content: space-evenly;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 0px;
    height: 60%;
}

.achievementContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}